<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Colmenas & Dragones</h1>
        <p class="lead my-3">
            Comunidad de juegos de mesa, rol y mtg commander casual.
        </p>
      </div>
    </div>
  
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Julian Sabarino</strong>
            <h3 class="mb-0">Fundador</h3>
            <div class="mb-1 text-body-secondary">El loco de los graficos</div>
            <p class="card-text mb-auto">
                Creamos esta comunidad con la intencion de reunir gente con gustos similares pero que no tienen nadie en su circulo cercano que los tenga.
                <br>Nombre: Julian Sabarino
                <br>Edad: 27 Años
                <br>Resto de datos: ...
                <br>Juego: Flappy Bee (es un plagio descarado)
            </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img [src]="js_photo" class="bd-placeholder-img" width="200" height="250">
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">Julian Alter</strong>
            <h3 class="mb-0">Fundador</h3>
            <div class="mb-1 text-body-secondary">La version alternativa</div>
            <p class="mb-auto">
                Esto es un placeholder de mi por si en un futuro sigo usando esta pagina para mis propios proyectos.
            </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img [src]="placeholder" class="bd-placeholder-img" width="200" height="250">
          </div>
        </div>
      </div>
    </div>
  
  </main>