<body class="text-center">
    <div class="container d-flex justify-content-center align-items-center full-height">
    <form [formGroup]="this.form" (submit)="login()" class="form-signin f-signin">
      <img class="mb-4" [src]="logo" alt="" width="100" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      
        <input [formControl]="form.controls.email"  type="email" id="inputEmail" class="form-control" placeholder="Email" fdprocessedid="j0mt9h">
        <input [formControl]="form.controls.password" type="password" id="inputPassword" class="form-control" placeholder="Password" fdprocessedid="cptj27">
      
      <button class="btn btn-lg btn-primary btn-block btn-log" type="submit" fdprocessedid="196ry">Sign in</button>
      <a (click)="RootPath('auth/recover')" class="btn-recover">Recover Password</a>
      
      <p class="mt-5 mb-3 text-muted">© 2024 - 2025</p>
    </form>
  
    <span id="PING_CONTENT_AUTOPLAY_DETECTION" style="display: none;"></span>
    <span id="PING_IFRAME_FORM_DETECTION" style="display: none;"></span>
</div>
</body>