<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Colmenas & Dragones</h1>
      <p class="lead my-3">
          Comunidad de juegos de mesa, rol y mtg commander casual.
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static clickable-div" (click)="RootPath('home/games')">
          <h3 class="mb-0">Pasar el Rato</h3>
          <div class="mb-1 text-body-secondary">Gana juegos gana premios</div>
          <p class="card-text mb-auto">
              Veamos a traves de la historia de los juegos con 5 juegos que cambiaron la historia y que todos escucharon hablar alguna vez.
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/assets/home/bgames.jpg" class="bd-placeholder-img" width="200" height="250">
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static clickable-div" (click)="RootPath('home/games')">
          <h3 class="mb-0">Commander Casual</h3>
          <div class="mb-1 text-body-secondary">Nuestros Mazos</div>
          <p class="mb-auto">
              Una lista de los mazos que usamos y prestamos en nuestras partidas personales de MTG Commander
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/assets/home/mtgdecks.png" class="bd-placeholder-img" width="200" height="250">
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static clickable-div" (click)="RootPath('home/games')">
          <h3 class="mb-0">Pauper Commander</h3>
          <div class="mb-1 text-body-secondary">Partidas para nuevos y viejos jugadores</div>
          <p class="card-text mb-auto">
              Unite a nuestros sabados de Pauper Commander. Podes venir a aprender a jugar o a simplemente divertirte, no necesitas mazo propio.
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/assets/home/mtgpauper.jpg" class="bd-placeholder-img" width="200" height="250">
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static clickable-div" (click)="RootPath('home/games')">
          <h3 class="mb-0">Eventos</h3>
          <div class="mb-1 text-body-secondary">Calendario y Fotos</div>
          <p class="mb-auto">
              Algunos de los eventos que ya hicimos y una lista de las cosas que todavia queremos hacer.
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/assets/home/bgevent.jpg" class="bd-placeholder-img" width="200" height="250">
        </div>
      </div>
    </div>
  </div>

</main>