<main>
  
    <div class="container marketing">
 
    <div _ngcontent-ng-c1973882366="" class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div _ngcontent-ng-c1973882366="" class="col-lg-6 px-0">
            <h1 _ngcontent-ng-c1973882366="" class="display-4 fst-italic">Pasa el rato</h1>
            <p _ngcontent-ng-c1973882366="" class="lead my-3"> Completa los tres juegos y gana un premio en el siguiente evento. </p>
        </div>
    </div>

      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Tic Tac Toe: <span class="text-body-secondary">Uno de los primeros juegos que aprendemos a jugar.</span></h2>
          <p class="lead">Se cree que los chinos lo jugaban en la época de Confucio (500ac) y hay tableros tallados en los asientos de algunas Catedrales de Inglaterra donde éste juego se hizo popular en el siglo XIV. En la antigua Roma podemos encontrar un antecesor a este juego "el terni lapilli".</p>
        </div>
        <div class="col-md-5">
          <app-tic-tac-toe></app-tic-tac-toe>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">The Hangedman <span class="text-body-secondary">Un ejercicio util para quienes quieran aprender un idioma.</span></h2>
          <p class="lead">El ahorcado es un juego, originalmente de lápiz y papel, para dos o más jugadores. Un jugador piensa en una palabra, frase u oración y el otro trata de adivinarla según lo que sugiere por letras o dentro de un cierto número de oportunidades.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <app-hangedman></app-hangedman>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>© 2017–2024 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
  </main>